.page-wrapper {
  background-color: #001935;
  color: #fff;
  min-height: 100vh;
}
.maxZ {
  z-index: 2000;
}
.myPrimaryb {
  background-color: #001935;
}
.mySecondaryb {
  background-color: #122943;
}

.centerForm {
  width: 60%;
  margin: auto;
}
.centerForm input {
  margin-bottom: 30px;
  background-color: #967dff;
  color: #fff;
  border: none;
  outline: none;
}
.centerForm input::placeholder {
  color: #fff !important;
}
.centerForm input:focus {
  border: 1px solid #fff;
  box-shadow: unset;
}
.centerForm input[type="submit"] {
  background-color: #fff;
  font-weight: 700;
  border-radius: 20px;
  color: #000;
}
.navbarbs {
  border-bottom: 0.005px solid #707272 !important;
}
.navbarts {
  border-top: 0.005px solid #707272;
}
.searchItem {
  background-color: #405368;
  position: relative;
  width: 500px;
  height: 35px;
  border-radius: 5px;
}
.navbar {
  padding: unset;
}
.navbar i {
  color: hsl(0, 0%, 80%);
  font-size: large;
}
.dropDownConfig .dropdown-menu {
  left: -300% !important;
  width: 250px;
  overflow-y: scroll;
  padding-top: 0;
  font-size: 14px;
  font-weight: 200 !important;
}
.dropDownConfig .dropdown-item {
  position: relative;
  padding-left: 40px;
  pointer-events: none;
}
.btnConfig {
  pointer-events: all;
}
.dropDownConfig .dropdown-item:active {
  color: unset !important;
  background-color: unset !important;
}
.dropDownConfig .dropdown-item:hover {
  background-color: #eaeaea !important;
}
.dropDownConfig .nameCon {
  font-weight: unset !important;
}
.offSetImg {
  position: absolute;
  left: 10px;
  top: 2px;
}
.offSetImg i {
  color: #4d4a4a;
}
.secBreak {
  display: flex;
  justify-content: space-between;
  background-color: #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}
.secBreak:hover {
  background-color: #eaeaea;
}
.searchItem i {
  color: hsl(0, 0%, 80%);
  font-weight: 600;
  pointer-events: none;
  position: absolute;
  left: 20px;
  top: 55%;
  transform: translate(-50%, -50%);
}
.searchItem input {
  width: 100%;
  height: 100%;
  background-color: unset !important;
  border: none;
  outline: none;
  padding-left: 30px;
}
.searchItem input::placeholder {
  color: hsl(0, 0%, 80%);
  font-weight: 600;
}
.searchItem input:focus {
  background-color: #fff !important;
  border-radius: 5px;
}
.view-cnt i {
  color: #fff !important;
  opacity: 0.5;
  width: 20px;
  height: 20px;
}
.view-cnt i.actv {
  opacity: 1;
}

.footer-img img {
  width: 35px;
  height: 40px;
  object-fit: cover;
}
.gridView-w {
  width: 70%;
}

.listView-w {
  width: 50%;
}
.gridView {
  columns: 3;
}
.listView {
  columns: 1;
}
.mansoryLayout {
  width: 100%;
  margin: 20px auto;
  column-gap: 20px;
}
.mansoryLayout .avaterCon {
  position: absolute;
  top: 20px;
  left: 30px;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.listView .gridItem {
  display: grid;
  grid-template-columns: 0.1fr 2fr;
}
.listView .cardHeader {
  padding-left: 5px !important;
}
.listView .avaterCon {
  text-align: left;
  position: sticky;
  top: 100px;
  margin-top: 20px;
  /* transform: translate(-50%, -50%); */
}
.createPost {
  display: grid;
  grid-template-columns: 0.1fr 2fr;
  gap: 30px;
}
.createPost .post {
  background-color: #fff;
  color: #000;
  padding: 5px;
  gap: 40px;
  justify-content: center;
}
.createPost .post i {
  font-size: 30px;
}
.gridItem {
  width: 100%;
  margin-bottom: 20px;
  break-inside: avoid;
  position: relative;
}
.homeHead {
  position: relative;
}
.sideBar {
  width: 25%;

  min-height: max-content;
}
.footerStick {
  position: sticky;
  top: 40px;
}
.imgCon {
  width: 40px;
  height: 40px;
}
.imgCon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.nameCon {
  font-weight: 700;
}
.act {
  font-weight: 700;
}
.act:hover {
  text-decoration: underline !important;
  cursor: pointer;
}
.actx {
  font-weight: 700;
  color: #acac9e;
  cursor: pointer;
}
.actx:hover {
  color: #fff;
}
.modalPrimary {
  background-color: #7c5cff;
  color: #fff;
}
.modalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.modalSecon .modal-content {
  background: unset !important;
  border: unset !important;
}
.customBody {
  gap: 30px;
  display: grid;
  grid-template-columns: 0.1fr 2fr;
}
.modalForm {
  background-color: #fff;
  padding: 8px;
  border-radius: 5px;
}
.modalForm input,
.modalForm textarea {
  outline: unset !important;
  border: unset;
}
.modalForm input:focus {
  box-shadow: unset;
}
.actionCrt {
  display: flex;
  justify-content: space-between;
}
.modalForm input::placeholder {
  font-weight: 600;
}
.modalForm .textareas {
  height: 40vh;
  width: 100%;
}
.actionCrt select {
  width: max-content;
  border: 2px solid #959494;
  border-radius: 20px;
}
.actionCrt button {
  border-radius: 20px;
  border: none;
  font-weight: 500;
  padding: 8px 20px;
}
