@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 98%;
    --foreground: 210 100% 10%;
    --card: 210 100% 100%;
    --card-foreground: 210 100% 10%;
    --popover: 210 100% 100%;
    --popover-foreground: 210 100% 10%;
    --primary: 210 100% 45%;
    --primary-foreground: 210 100% 98%;
    --secondary: 320 100% 60%;
    --secondary-foreground: 210 100% 98%;
    --muted: 210 100% 90%;
    --muted-foreground: 210 100% 30%;
    --accent: 46 65% 53%;
    --accent-foreground: 210 100% 10%;
    --destructive: 345 100% 50%;
    --destructive-foreground: 210 100% 98%;
    --border: 210 100% 80%;
    --input: 210 100% 80%;
    --ring: 210 100% 45%;
    --radius: 1rem;
    --chart-1: 210 100% 45%;
    --chart-2: 320 100% 60%;
    --chart-3: 46 65% 53%;
    --chart-4: 180 100% 45%;
    --chart-5: 345 100% 50%;
  }

  .dark {
    --background: 210 100% 8%;
    --foreground: 210 100% 95%;
    --card: 210 100% 10%;
    --card-foreground: 210 100% 95%;
    --popover: 210 100% 10%;
    --popover-foreground: 210 100% 95%;
    --primary: 180 100% 50%;
    --primary-foreground: 210 100% 10%;
    --secondary: 320 100% 50%;
    --secondary-foreground: 210 100% 95%;
    --muted: 210 100% 15%;
    --muted-foreground: 210 100% 70%;
    --accent: 46 65% 53%;
    --accent-foreground: 210 100% 10%;
    --destructive: 345 100% 45%;
    --destructive-foreground: 210 100% 95%;
    --border: 210 100% 20%;
    --input: 210 100% 20%;
    --ring: 180 100% 50%;
    --chart-1: 180 100% 50%;
    --chart-2: 320 100% 50%;
    --chart-3: 46 65% 53%;
    --chart-4: 210 100% 60%;
    --chart-5: 345 100% 45%;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .custom-scrollbar {
    --scrollbar-thumb: hsl(210, 100%, 20%);
    --scrollbar-track: hsl(210, 100%, 10%);
    --scrollbar-width: 10px;

    scrollbar-width: var(--scrollbar-width);
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 20px;
    border: 3px solid var(--scrollbar-track);
  }
}
