@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box;
}

.page-wrapper {
  background-color: #001935;
  color: #fff;
  min-height: 100vh;
}
.maxZ {
  z-index: 2000;
}
.myPrimaryb {
  background-color: #001935;
}
.mySecondaryb {
  background-color: #122943;
}

.centerForm {
  width: 60%;
  margin: 0 auto;
}
.centerForm input {
  margin-bottom: 30px;
  background-color: #967dff;
  color: #fff;
  border: none;
  outline: none;
}
.centerForm input::placeholder {
  color: #fff !important;
}
.centerForm input:focus {
  border: 1px solid #fff;
  box-shadow: unset;
}
.centerForm input[type="submit"] {
  background-color: #fff;
  font-weight: 700;
  border-radius: 20px;
  color: #000;
}
.navbarbs {
  border-bottom: 0.005px solid #707272 !important;
}
.navbarts {
  border-top: 0.005px solid #707272;
}
.searchItem {
  background-color: #405368;
  position: relative;
  width: 500px;
  height: 35px;
  border-radius: 5px;
}
.navbar {
  padding: unset;
}
.navbar i {
  color: hsl(0, 0%, 80%);
  font-size: large;
}
.dropDownConfig .dropdown-menu {
  left: -300% !important;
  width: 250px;
  overflow-y: scroll;
  padding-top: 0;
  font-size: 14px;
  font-weight: 200 !important;
}
.dropDownConfig .dropdown-item {
  position: relative;
  padding-left: 40px;
  pointer-events: none;
}
.btnConfig {
  pointer-events: all;
}
.dropDownConfig .dropdown-item:active {
  color: unset !important;
  background-color: unset !important;
}
.dropDownConfig .dropdown-item:hover {
  background-color: #eaeaea !important;
}
.dropDownConfig .nameCon {
  font-weight: unset !important;
}
.profileActx {
  position: relative;
  padding-left: 40px;
}
.offSetImg {
  position: absolute;
  left: 10px;
  top: 2px;
}
.offSetImg i {
  color: #4d4a4a;
}
.secBreak {
  display: flex;
  justify-content: space-between;
  background-color: #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}
.customName {
  color: #fff;
}
.profileActx .customName {
  color: #000 !important;
}

.secBreak:hover {
  background-color: #eaeaea;
}

.searchItem i {
  color: hsl(0, 0%, 80%);
  font-weight: 600;
  pointer-events: none;
  position: absolute;
  left: 20px;
  top: 55%;
  transform: translate(-50%, -50%);
}
.searchItem input {
  width: 100%;
  height: 100%;
  background-color: unset !important;
  border: none;
  outline: none;
  padding-left: 30px;
}
.searchItem input::placeholder {
  color: hsl(0, 0%, 80%);
  font-weight: 600;
}
.searchItem input:focus {
  background-color: #fff !important;
  border-radius: 5px;
}
.view-cnt i {
  color: #fff !important;
  opacity: 0.5;
  width: 20px;
  height: 20px;
}
.view-cnt i.actv {
  opacity: 1;
}

.gridView-w {
  width: 70%;
}

.listView-w {
  width: 50% !important;
}
.gridView {
  columns: 3;
}
.listView {
  columns: 1;
}
.mansoryLayout {
  width: 100%;
  margin: 20px auto;
  column-gap: 20px;
  padding: 30px;
}
.gridItem {
  width: 100%;
  margin-bottom: 20px;
  break-inside: avoid;
  position: relative !important;
}
.gridView .avaterCon {
  position: absolute !important;
  top: 20px !important;
  left: 30px !important;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.listView .gridItem {
  display: grid;
  grid-template-columns: 0.1fr 2fr;
  gap: 20px;
  overflow: hidden;
}
.listView .avaterCon {
  text-align: left;
  position: sticky;
  top: 100px;
  /* transform: translate(-50%, -50%); */
}

.post {
  color: #fff;
  gap: 10px;
}
.post i {
  font-size: 30px;
  color: red;
}
.createPost {
  display: grid;
  grid-template-columns: 0.1fr 2fr;
  gap: 30px;
}
.createPost .post {
  background-color: #fff;
  color: #000;
  padding: 5px;
  gap: 40px;
  justify-content: center;
}
.createPost .post i {
  font-size: 30px;
}

.homeHead {
  position: relative;
}
.sideBar {
  width: 25%;

  min-height: max-content;
}
.footerStick {
  position: sticky;
  top: 40px;
}
.imgCon {
  width: 40px;
  height: 40px;
}
.imgCon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.nameCon {
  font-weight: 700;
}
.act {
  font-weight: 700;
}
.act:hover {
  text-decoration: underline !important;
  cursor: pointer;
}
.actx {
  font-weight: 700;
  color: #acac9e;
  cursor: pointer;
}
.actx:hover {
  color: #fff;
}
.modalPrimary {
  background-color: #7c5cff;
  color: #fff;
}
.modalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.modalSecon .modal-content {
  background: unset !important;
  border: unset !important;
}
.customBody {
  gap: 30px;
  display: grid;
  grid-template-columns: 0.1fr 2fr;
}
.modalForm {
  background-color: #fff;
  padding: 8px;
  border-radius: 5px;
}
.modalForm input,
.modalForm textarea {
  outline: unset !important;
  border: unset;
}
.modalForm input:focus {
  box-shadow: unset;
}
.actionCrt {
  display: flex;
  justify-content: space-between;
}
.modalForm input::placeholder {
  font-weight: 600;
}
.modalForm .textareas {
  height: 40vh;
  width: 100%;
}
.actionCrt select {
  width: max-content;
  border: 2px solid #959494;
  border-radius: 20px;
}
.actionCrt button {
  border-radius: 20px;
  border: none;
  font-weight: 500;
  padding: 8px 20px;
}
.navAdmin {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px;
}
.navAdmin:hover {
  background-color: #122943;
}
.recentPosts {
  display: grid;
  background: #122943;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(75, 39, 12, 0.3);
  border-radius: 20px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: #fff;
}
.cardHeader .btn,
.btnAdmin button {
  padding: 5px 10px;
  background: #4b270c;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  border: none;
}
/* .btnAdmin button {

} */
.dashDtx {
  padding: 20px;
  align-items: flex-start;
  /* margin-top: 10px; */
}
.dashDtx table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 20px !important;
}

.dashDtx table thead td {
  font-weight: 600;
}

.dashDtx table tr:nth-child(even) {
  background-color: #4b270c;
  color: #fff !important;
}
.dashDtx table tr:nth-child(odd) {
  background-color: #fff;
  color: #4b270c;
}
.dashDtx .recentPosts table tr:last-child {
  border-bottom: none;
}
.dashDtx .recentPosts table tbody tr:hover {
  background: #001935;
  color: #fff;
}
.dashDtx table tr td {
  padding: 10px;
}
.dashDtx .recentPosts table tr td:last-child {
  text-align: end;
}
.dashDtx .recentPosts table tr td:nth-child(2) {
  text-align: end;
}
.dashDtx .recentPosts table tr td:nth-child(3) {
  text-align: center;
}
.cardDash .card-body {
  background-color: #122943;
  color: #fff;
  text-align: center;
}
.recentUsers {
  display: grid;
  padding: 20px;
  background: #122943;
  box-shadow: 0 7px 25px rgba(75, 39, 12, 0.3);
  border-radius: 20px;
}

.recentUsers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentUsers table tr td h4 span {
  font-size: 14px;
}
.recentUsers table tr:hover {
  background: #001935;
  color: #fff;
}
.recentUsers table tr:hover td h4 {
  color: #fff;
}
.recentUsers table tr:hover td h4 span {
  color: #eaeaea;
}

.ttable {
  width: 98%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}
.theader {
  width: 98%;
  margin: auto;
}
.theader h2 {
  text-transform: uppercase;
}
.ttable thead {
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
  background-color: #001935;
}
.ttable tr th {
  padding: 10px 0;
}
.ttable tbody tr td {
  font-size: 16px;
  padding: 10px 0;
}
.ttable tbody tr:nth-child(odd) {
  background-color: rgba(255, 71, 46, 0.4);
  color: rgba(0, 0, 0);
}
.buttonBx {
  display: flex;
  gap: 30px;
}
.buttonBx svg {
  cursor: pointer;
}
.buttonBx svg:hover {
  color: #122943;
}

.commentItem {
  position: relative;
}
.delBtn {
  position: absolute;
  top: 0px;
  right: 2px;
}
.profileP {
  display: flex !important;
  justify-content: center;
}
.profileP .centerForm {
  margin: unset;
  width: 50%;
  margin-top: 20px;
}
.profileP .centerForm input {
  margin-bottom: 30px;
  background-color: #122943;
  color: #fff;
  border: none;
  outline: none;
}
